
form {
    border: 1px solid transparent !important;
    color: black !important;
    backdrop-filter: blur(10px) !important;
    padding: 20px !important;
    background-color: rgba(49, 171, 211, 0.5) !important;   
    border-radius: 10px !important;       
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) !important;     
}

input {
    width: 100%;
    height: 20px;
}

button {
    border: 2px solid transparent;  
    padding: 10px;
    background-color: transparent;                
    border-radius: 5px;
    cursor: pointer;
}

body {
    /*background-image: url('/images/denim.jpg');*/
    background-image: url('/gentelella/build/images/denim.jpg');
    background-size: cover !important;
    background-repeat: no-repeat !important;                                                   
    background-attachment: fixed !important;       
    background-position: center !important;                                                                              

 }